
#logo {
    width: 500px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

button {
color: rgb(255, 255, 255);
font-size: 20px;
padding: 20px;
text-shadow: 3px 1px 0px rgba(30, 0, 30, 0.51);
-webkit-border-radius: 30px;
-moz-border-radius: 30px;
border-radius: 30px;
background: rgb(38, 255, 255);
background: -moz-linear-gradient(315deg, rgb(38, 255, 255) 29%, rgb(255, 178, 0) 79%);
background: -webkit-linear-gradient(315deg, rgb(38, 255, 255) 29%, rgb(255, 178, 0) 79%);
background: -o-linear-gradient(315deg, rgb(38, 255, 255) 29%, rgb(255, 178, 0) 79%);
background: -ms-linear-gradient(315deg, rgb(38, 255, 255) 29%, rgb(255, 178, 0) 79%);
background: linear-gradient(225deg, rgb(38, 255, 255) 29%, rgb(255, 178, 0) 79%);
-webkit-box-shadow: 6px 2px 27px rgba(148, 206, 0, 1);
-moz-box-shadow:    6px 2px 27px rgba(148, 206, 0, 1);
box-shadow:         6px 2px 27px rgba(148, 206, 0, 1);
}

ul {
    width: 400px;
    list-style-type: none;
    overflow: hidden;
    margin:0 auto;
    padding:20;
  }
  
li {
    font-size: 25px;
    font-weight: 300;
    float: center;
  }
  
li a {
    display: block;
    color: black;
    text-align: center;
    padding: 6px 8px;
    text-decoration: none;
  }

#app {
    max-width: 2000px;
    text-align: center;
    font-family: "Times New Roman", Times, serif;
    font-size: 20px;
}
  
li a:hover {
    background-color: rgb(160, 233, 255);
  }

.car-thumb {
    width: 320px;
    padding: 30px;
}

.car {
    text-align: center;
    color: black;
    display:inline-block;
}

p {
    text-align: center;
    font-size: 20px;
  }

h1, h2 {
    padding: 20px;
     font-weight: 200;
  }

.acceleration {
    width: 400px;
    margin:0 auto;
    background-color: rgb(75, 139, 1);
    color: white;
    padding: 10px;
}

.features {
    width: 300px;
    margin:0 auto;
    padding: 10px;
}


#cars {
    text-align: center;
    font-size: 20px;
}

.car-name {
    font-size: 20px;
    font-weight: 550;
    text-align: center;
    color: black;
    text-decoration: rgb(218, 141, 0);
}

#car-page {
    text-align: center;
    font-size: 20px;
}

#favorites-page li {
    font-size: 20px;
    display:inline-block;
    padding: 20px;
}

#favorites-page {
    max-width: 300px;
    margin: auto;
}



